<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>foxverse - {{title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/n3ds.css">
        <script src="/js/src/cave-emulation.js"></script>
        <script src="/js/n3ds/complete-en.js"></script>
    </head>
    <body data-user-id="{{session.user.username}}" {{bodyData}} data-is-first-favorite="1" data-profile-url="/users/{{session.user.username}}">
        <div id="body" class="{{bodyClasses}}" data-region-id="0">
            {% block mainContent %}
            {% endblock %}
        </div>
    </body>
</html>