{% set title,bodyClasses = "Communities","community-top" %}
{% extends "_layout.twig" %}

{% block mainContent %}
<div class="title-header text-header">
	<div class="header-banner-container">
		<div class="header-banner">
			<p>Check out the communities for games that you play or games that you're curious about!</p>
		</div>
	</div>
	<h1 class="info-content">
		<span class="icon-container"></span>
		<span class="title-container">
		<span class="title">Communities</span>
		</span>
	</h1>
</div>
<div class="community-top-top-container">
	<span class="top-left-button title-search-button"><span class="symbol">Search</span><input data-action="/titles/search" name="query" class="title-search-title-id" minlength="2" maxlength="20" type="text" monospace="on" guide="Search Communities" cave_oninput="$(document.activeElement).trigger('input')" value=""></span>
	<a href="/communities/favorites" class="favorites-button top-right-button" data-pjax="1"><span class="symbol">Favorite Communities</span></a>
</div>
<div class="body-content" id="community-top">
	<div class="news-label-content">
	</div>
	<div id="identified-user-banner" class="news-label us">
		<a href="/identified_user_posts" data-pjax="#body">
		<span class="title">Get the latest news here!</span>
		<span class="text">Posts from Verified Users</span>
		</a>
	</div>
	<div class="community-list">
		<div class="headline with-filter">
			<h2>General Communities</h2>
		</div>
		<ul class="list-content-with-icon-and-text arrow-list" id="community-top-content">
			{% for community in communities %}
			{% if community.type == 0 %}
			<li id="community-{{community.id}}" class=" has-other-communities">
				<span class="icon-container"><img src="{{community.icon}}" class="icon" width="48" height="48"></span>
				<a href="/titles/{{community.id}}" class="arrow-button scroll" data-pjax="1"></a>
				<div class="body">
					<span class="community-name title">{{community.name}}</span>
					{% if community.platform == 1 %}
					<span class="platform-tag platform-tag-3ds"></span>
					{% elseif community.platform == 2 %}
					<span class="platform-tag platform-tag-wiiu"></span>
					{% elseif community.platform == 3 %}
					<span class="platform-tag platform-tag-wiiu-3ds"></span>
					{% endif %}
					<span class="text">General Community</span>
				</div>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		<a href="/communities/general_all" class="more-button scroll" data-pjax="1">Show More</a>
		<div class="headline with-filter">
			<h2>Game Communities</h2>
		</div>
		<ul class="list-content-with-icon-and-text arrow-list" id="community-top-content">
			{% for community in communities %}
			{% if community.type > 0 and community.type < 4 %}
			<li id="community-{{community.id}}" class=" has-other-communities">
				<span class="icon-container"><img src="{{community.icon}}" class="icon" width="48" height="48"></span>
				<a href="/titles/{{community.id}}" class="arrow-button scroll" data-pjax="1"></a>
				<div class="body">
					<span class="community-name title">{{community.name}}</span>
					{% if community.platform == 1 %}
					<span class="platform-tag platform-tag-3ds"></span>
					{% elseif community.platform == 2 %}
					<span class="platform-tag platform-tag-wiiu"></span>
					{% elseif community.platform == 3 %}
					<span class="platform-tag platform-tag-wiiu-3ds"></span>
					{% endif %}
					{% if community.type == 1 %}
					<span class="text">Wii U Games</span>
					{% elseif community.type == 2 %}
					<span class="text">3DS Games</span>
					{% elseif community.type == 3%}
					<span class="text">Wii U Games・3DS Games</span>
					{% endif %}
				</div>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		<a href="/communities/game_all" class="more-button scroll" data-pjax="1">Show More</a>
		<div class="headline with-filter">
			<h2>Special Communities</h2>
		</div>
		<ul class="list-content-with-icon-and-text arrow-list" id="community-top-content">
			{% for community in communities %}
			<li id="community-{{community.id}}" class=" has-other-communities">
				<span class="icon-container"><img src="{{community.icon}}" class="icon" width="48" height="48"></span>
				<a href="/titles/{{community.id}}" class="arrow-button scroll" data-pjax="1"></a>
				<div class="body">
					<span class="community-name title">{{community.name}}</span>
					<span class="platform-tag"></span>
					<span class="text"></span>
				</div>
			</li>
			{% endfor %}
		</ul>
		<a href="/communities/special_all" class="more-button scroll" data-pjax="1">Show More</a>
	</div>
</div>
{% endblock %}