{% set title,bodyClasses = community.community_name,"community-post-list" %}
{% extends "_layout.twig" %}

{% block mainContent %}
<div class="title-header with-header-banner">
  <div class="header-banner-container post-subtype-default-container">
    <img src="{{community.community_banner}}" height="168" width="400">
  </div>
  <h1 class="info-content">
    <span class="icon-container"><img src="{{community.community_icon}}" class="icon" width="48" height="48"></span>
    <span class="title-container">
    <span class="title">{{community.community_name}}</span>
    </span>
  </h1>
  {% if community.community_platform == 1 %}
    <span class="platform-tag platform-tag-3ds"></span>
  {% elseif community.community_platform == 2 %}
    <span class="platform-tag platform-tag-wiiu"></span>
  {% elseif community.community_platform == 3 %}
    <span class="platform-tag platform-tag-wiiu-3ds"></span>
  {% endif %}
</div>
<div class="community-info">
  <p class="text">{{community.community_description}}</p>
</div>
<div class="body-content tab3-content">
  <div class="tab-body">
    {% if session.user.user_permission == community.community_permission %}
    <div class="post-buttons-content with-memo-button">
      <a href="/titles/{{community.community_title_id}}/{{community.community_id}}/post" class="post-button js-post-button" data-pjax="1"><span class="symbol">Post</span></a>
    </div>
    {% endif %}
    {% for post in posts %}
    {% if post.post_deleted == 0 %}
    {% if post.post_disabled == 0 %}
    <div class="post-list list" data-olv-community-id="{{community.community_id}}">
      <div id="post-{{post.post_id}}" class="post scroll post-subtype-default">
        <div class="body">
          <a href="/users/{{post.post_username}}" data-pjax="1" class="user-icon-container scroll-focus"><img src="{{post.post_icon}}" class="user-icon" width="32" height="32"></a>
          <div class="post-container">
            <div class="user-container">
              <p class="user-name"><a href="/users/{{post.post_username}}" data-pjax="1">{{post.post_display_name}}</a></p>
              <p class="timestamp-container">
                <span class="timestamp">{{post.post_date}}</span>
              </p>
            </div>
            <div class="post-content">
              <p class="post-content-text">
                {% if post.post_image %}
                  <a class="to-permalink-button" data-pjax="1" tabindex="0"><img src="{{post.post_image}}" width="192" height="72"></a>
                {% endif %}
                {% if post.post_content %}
                  <a class="to-permalink-button" data-pjax="1" tabindex="0">{{post.post_content}}</a>
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}